{% extends "layouts/base.html" %}

{% block title %} ChartJS {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- CDN Highlight JS CSS -->
<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/default.min.css" rel="stylesheet">

<!-- CDN Chart.js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}

    <!-- Top ROW -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                ChartJS Basic Sample
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- ChartJS Container -->
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h3>
                                Introduction
                            </h3> 
                            <p>
                                For newcomers, <strong>ChartJS</strong> is a JavaScript charting library for designers and developers.  
                                <br />                                
                                The <a target="_blank" href="https://github.com/app-generator/flask-chartjs">source code</a> for this page 
                                is published on Github: 
                                <a target="_blank" 
                                   href="https://github.com/app-generator/flask-chartjs/blob/master/app/home/templates/index.html">ChartJS - Basic usage</a>.
                            </p>    
<pre>
<code class="javascript">var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
        }]
    }
});      
</code>
</pre>                                  
                        <p>
                            <strong>For support</strong> please access the resources 
                            published on <a target="_blank" href="https://appseed.us">AppSeed</a>.
                        </p>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="card-category">
                    Basic integration sample
                </p>            
            </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Highlight JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>  
  <script>
    $(document).ready(function() {

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });      

    });
  </script>

{% endblock javascripts %}
